@{
    ViewBag.Title = "Home Page";
}
<div ng-controller="pinController">
    <div class="container text-right" >
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">New Pin</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-left">New Pin</h4>
                    </div>
                    <div class="modal-body text-left">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="PhotoUrl">Photo URL</label>
                                <input class="form-control" type="text" ng-model="newPinInfo.PhotoUrl" />
                            </div>
                            <div class="form-group">
                                <label for="Body">Pin Body</label>
                                <input class="form-control" type="text" ng-model="newPinInfo.Body" />
                            </div>
                            <div class="form-group">
                                <label for="PinUrl">Pin URL</label>
                                <input class="form-control" type="text" ng-model="newPinInfo.PinUrl" />
                            </div>
                            <button type="button" ng-click="savePin()">Create</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="container">
            <div class="row">
                <div class="item" ng-repeat="pin in pins">
                        <div class="well text-center">
                            <img class="img-responsive" src="{{pin.PhotoUrl}}"/>
                            <br/>
                            <p>{{pin.Body}}</p>
                            <a href="{{pin.PinUrl}}">Full Site</a>
                        </div>
                </div>
            </div>
        </div>
</div>